<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684211004402-38hibecc16e4ijle4jvlie8st039a3go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684211004402-38hibecc16e4ijle4jvlie8st039a3go</string>
	<key>API_KEY</key>
	<string>AIzaSyDvRelbyTbHutAcTkC0ys8CESnY1zInEXc</string>
	<key>GCM_SENDER_ID</key>
	<string>684211004402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studcoo.studcooapp</string>
	<key>PROJECT_ID</key>
	<string>studcoo</string>
	<key>STORAGE_BUCKET</key>
	<string>studcoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684211004402:ios:2d52a7fddda2e885f5c16b</string>
</dict>
</plist>